*{background-color:#FFFFFF;}
.ul_css{ font-size:14px;margin:0;padding:0;list-style-type:none; font-family:"ĞÂËÎÌå"; font-weight:bold}
.ul_css1{ font-size:14px;margin:0;padding:0;list-style-type:none;}

